:root {
	/* CONFIGURABLE SETTINGS */
	/* COLORS */
	--color-white: #ffffff;
	--color-light-grey: #ececec;
	--color-light-grey-2: #e8e8e8;
	--color-grey-1: #bebebe;
	--color-grey: #586877;
	--color-grey-2: #555555;
	--color-darker-grey: #46535f;
	--color-black: #000000;
	--color-red: #d73f32;
	--color-darker-red: #bf382c;
	--color-yellow: #e19f2f;
	--color-darker-yellow: #b47f26;
	--color-light-blue: #6593bc;
	--color-darker-blue: #265286;
	--color-green: #1db53a;
	--color-darker-green: #137124;

	--title-color: var(--color-grey);
	--link-color: var(--color-yellow);
	--hover-link-color: var(--color-red);

	/* BACKGROUND */
	--grey-color: var(--color-grey);
	--red-color: var(--color-red);
	--yellow-color: var(--color-yellow);
	--green-color: var(--color-green);

	/* COLOR SCHEMES */
	[data-color-scheme|="light"] {
		--title-color: var(--color-grey);
	}

	[data-color-scheme="medium"] {
		--title-color: var(--color-grey);
		--background-color: var(--color-light-grey-2);
		--background-shadow: var(--color-grey-1);
	}

	[data-color-scheme="grey"] {
		--title-color: var(--color-white);
		--background-color: var(--grey-color);
		--background-shadow: var(--color-darker-grey);
	}

	[data-color-scheme="red"] {
		--title-color: var(--color-white);
		--background-color: var(--red-color);
		--background-shadow: var(--color-darker-red);
	}

	[data-color-scheme="yellow"] {
		--title-color: var(--color-white);
		--background-color: var(--yellow-color);
		--background-shadow: var(--color-darker-yellow);
	}

	[data-color-scheme="green"] {
		--title-color: var(--color-white);
		--background-color: var(--green-color);
		--background-shadow: var(--color-darker-green);
	}

	/* PRIMARY BUTTON */
	/* DEFAULT STYLE */
	:is(
			.primary-button,
			.secondary-button,
			.wp-block-button:not(.is-style-outline) > .wp-element-button
		) {
		border-radius: calc(var(--element-border-radius) * 2);
	}

	:is(
			.primary-button,
			.wp-block-button:not(.is-style-outline) > .wp-element-button
		) {
		color: var(--color-white);
		background-color: var(--color-grey);
		border-color: var(--color-grey);
		text-align: center;
	}

	:is(
			.primary-button,
			.wp-block-button:not(.is-style-outline) > .wp-element-button
		):is(:active, :hover, :focus) {
		background-color: var(--color-red);
		border-color: var(--color-red);
	}

	/* LIGHT BACKGROUND COLORS */
	:is([data-color-scheme="light"], [data-color-scheme="yellow"])
		:is(
			.primary-button,
			.wp-block-button:not(.is-style-outline) > .wp-element-button
		) {
		color: var(--color-white);
		background-color: var(--color-grey);
		border-color: var(--color-grey);
	}

	:is([data-color-scheme|="light"], [data-color-scheme="yellow"])
		:is(
			.primary-button,
			.wp-block-button:not(.is-style-outline) > .wp-element-button
		):is(:active, :hover, :focus) {
		background-color: var(--color-darker-grey);
		border-color: var(--color-darker-grey);
	}

	/* DARK */
	:is(
			[data-color-scheme="dark"],
			[data-color-scheme="grey"],
			[data-color-scheme="red"]
		)
		:is(
			.primary-button,
			.wp-block-button:not(.is-style-outline) > .wp-element-button
		) {
		color: var(--color-white);
		background-color: var(--color-grey);
		border-color: transparent;
	}

	:is(
			[data-color-scheme="dark"],
			[data-color-scheme="grey"],
			[data-color-scheme="red"]
		)
		:is(
			.primary-button,
			.wp-block-button:not(.is-style-outline) > .wp-element-button
		):is(:active, :hover, :focus) {
		background-color: var(--color-red);
		border-color: transparent;
	}

	/* SECONDARY BUTTON */
	/* STYLE */

	/* LIGHT BACKGROUND COLORS */
	:is([data-color-scheme="light"], [data-color-scheme="yellow"])
		:is(
			.secondary-button,
			.wp-block-button:is(.is-style-outline) > .wp-element-button
		) {
		color: var(--color-grey);
		border-color: var(--color-grey);
	}

	:is([data-color-scheme="light"], [data-color-scheme="yellow"])
		:is(
			.secondary-button,
			.wp-block-button:is(.is-style-outline) > .wp-element-button
		):is(:active, :hover, :focus) {
		background-color: var(--color-grey);
		color: var(--color-white);
		border-color: var(--color-grey);
	}

	/* DARK */
	:is(
			[data-color-scheme="dark"],
			[data-color-scheme="grey"],
			[data-color-scheme="red"]
		)
		:is(
			.secondary-button,
			.wp-block-button:is(.is-style-outline) > .wp-element-button
		) {
		color: var(--color-white);
		border-color: var(--color-white);
	}

	:is(
			[data-color-scheme="dark"],
			[data-color-scheme="grey"],
			[data-color-scheme="red"]
		)
		:is(
			.secondary-button,
			.wp-block-button:is(.is-style-outline) > .wp-element-button
		):is(:active, :hover, :focus) {
		background-color: var(--color-grey);
		color: var(--color-white);
		border-color: var(--color-white);
	}

	/* FORMS */

	/* EYEBROW */

	/* MARGINS */
	--item-row-gap: calc(var(--row-gap) / 2);

	/* MISCELANEOUS */
	--element-border-radius: 2rem;
}

@media (min-width: 768px) {
	:root {
		/* CONFIGURABLE SETTINGS */
		/* FONT SIZES */
		--font-multiplier: 1.1;
		/* MISCELANEOUS */
		--container-width: 72rem;
	}
}

@media (min-width: 992px) {
	:root {
		/* CONFIGURABLE SETTINGS */
		/* FONT SIZES */
		--font-multiplier: 1.2;
		/* MARGINS */
		--block-margin: 9.6rem;
		--column-gap: 4.8rem;
		--row-gap: 4.8rem;
		/* MISCELANEOUS */
		--container-width: 96rem;
	}
}

@media (min-width: 1200px) {
	:root {
		/* CONFIGURABLE SETTINGS */
		/* FONT SIZES */
		--font-multiplier: 1.2;
		/* MISCELANEOUS */
		--container-width: 117rem;
	}
}

.urbs-separator {
	display: grid;
	grid-template-columns: 1fr;
	grid-template-rows: repeat(3, 1fr);
}

.urbs-separator-yellow,
.urbs-separator-red,
.urbs-separator-grey {
	width: 100%;
	max-width: 100%;
	grid-column: 1;
	height: 0.8rem;
}

.urbs-separator-yellow {
	background: var(--color-yellow);
	grid-row: 1;
}

.urbs-separator-red {
	background: var(--color-red);
	grid-row: 2;
}

.urbs-separator-grey {
	background: var(--color-grey);
	grid-row: 3;
}

body .cls-1 {
	fill: currentColor;
}

.blocks-container {
	margin: 0 auto;
	-webkit-transform: translate3d(0, 0, 0);
}

.blocks-container > :is(div, section):is(:last-child) {
	margin: var(--block-margin) auto;
}

.blocks-container > * {
	max-width: var(--wide-width);
}

main > .blocks-container:last-child > *:last-child {
	margin-bottom: var(--block-margin);
}

.blocks-container > .alignfull {
	max-width: 100%;
	-webkit-transform: translate3d(0, 0, 0);
}

.blocks-container > p:is(.has-background) {
	border-radius: var(--element-border-radius);
}

@media (min-width: 768px) {
	.blocks-container > :is(div, section):is(:last-child) {
		margin: 0 auto var(--block-margin);
	}
}
