:root{
    /* CONFIGURABLE SETTINGS */
        /* COLORS */
        --color-white: #FFFFFF;
        --color-light-grey: #ececec;
        --color-grey: #586768;
        --color-black: #000000;
        --color-light-blue: #00ACEE;
        --color-medium-blue: #106FC6;
        --color-dark-blue: #0D579C;

        --link-color: var(--color-dark-blue);
        --hover-link-color: var(--color-light-blue);

        /* BACKGROUND */
        --light-blue-color: var(--color-light-blue);
        --light-blue-shadow-color: #0073A1;

        --medium-blue-color: var(--color-medium-blue);
        --medium-blue-shadow-color: var(--color-dark-blue);

        --dark-blue-color: var(--color-dark-blue);

        /* COLOR SCHEMES */
        [data-color-scheme|="light-blue"] {
            --background-color: var(--light-blue-color);
            --background-shadow: var(--light-blue-shadow-color);
        }

        [data-color-scheme|="medium-blue"] {
            --background-color: var(--medium-blue-color);
            --background-shadow: var(--medium-blue-shadow-color);
        }

        [data-color-scheme|="dark-blue"] {
            --background-color: var(--dark-blue-color);
        }

        /* TEXT */
            /* PRIMARY FONT */

            /* SECONDARY FONT */

            /* FONT SIZES */
            h1 { font: var(--font-headline-2); }
            h2 { font: var(--font-headline-3); }
            h3 { font: var(--font-headline-4); }
            h4 { font: var(--font-headline-5); }
            h5 { font: var(--font-headline-6); }
            h6 { font: var(--font-headline-7); }  

            /* LIGHT BACKGROUND COLORS */

            /* DARK BACKGROUND COLORS */

        /* PRIMARY BUTTON */
            /* DEFAULT STYLE */
            :is(.primary-button, .secondary-button, .wp-block-button:not(.is-style-outline) > .wp-element-button) {
                border-radius: calc(var(--element-border-radius) * 2);
            }

            :is(.primary-button, .wp-block-button:not(.is-style-outline) > .wp-element-button) {
                color: var(--color-white);
                background-color: var(--color-medium-blue);
                border-color: var(--color-medium-blue);
                text-align: center;
            }

            :is(.primary-button, .wp-block-button:not(.is-style-outline) > .wp-element-button):is(:active, :hover, :focus) {
                background-color: var(--color-dark-blue);
                border-color: var(--color-dark-blue);
            }

            /* LIGHT BACKGROUND COLORS */
            :is([data-color-scheme="light"]) :is(.primary-button, .wp-block-button:not(.is-style-outline) > .wp-element-button) {
                color: var(--color-white);
                background-color: var(--color-medium-blue);
                border-color: var(--color-medium-blue);
            }

            :is([data-color-scheme="light"]) :is(.primary-button, .wp-block-button:not(.is-style-outline) > .wp-element-button):is(:active, :hover, :focus) {
                background-color: var(--color-dark-blue);
                border-color: var(--color-dark-blue);
            }

            /* DARK AND SHADES OF BLUES */
            :is([data-color-scheme="dark"], [data-color-scheme="light-blue"], [data-color-scheme="medium-blue"], [data-color-scheme="dark-blue"]) :is(.primary-button, .wp-block-button:not(.is-style-outline) > .wp-element-button) {
                color: var(--color-white);
                background-color: var(--color-medium-blue);
                border-color: transparent;
            }

            :is([data-color-scheme="dark"], [data-color-scheme="light-blue"], [data-color-scheme="medium-blue"], [data-color-scheme="dark-blue"]) :is(.primary-button, .wp-block-button:not(.is-style-outline) > .wp-element-button):is(:active, :hover, :focus) {
                background-color: var(--color-dark-blue);
                border-color: transparent;
            }

        /* SECONDARY BUTTON */
            /* STYLE */

            /* LIGHT BACKGROUND COLORS */
            :is([data-color-scheme="light"]) :is(.secondary-button, .wp-block-button:is(.is-style-outline) > .wp-element-button) {
                color: var(--color-medium-blue);
                border-color: var(--color-medium-blue);
            }

            :is([data-color-scheme="light"]) :is(.secondary-button, .wp-block-button:is(.is-style-outline) > .wp-element-button):is(:active, :hover, :focus) {
                background-color: var(--color-dark-blue);
                color: var(--color-white);
                border-color: var(--color-dark-blue);
            }

            /* DARK AND SHADES OF BLUE */
            :is([data-color-scheme="dark"], [data-color-scheme="light-blue"], [data-color-scheme="medium-blue"], [data-color-scheme="dark-blue"]) :is(.secondary-button, .wp-block-button:is(.is-style-outline) > .wp-element-button) {
                color: var(--color-white);
                border-color: var(--color-white);
            }

            :is([data-color-scheme="dark"], [data-color-scheme="light-blue"], [data-color-scheme="medium-blue"], [data-color-scheme="dark-blue"]) :is(.secondary-button, .wp-block-button:is(.is-style-outline) > .wp-element-button):is(:active, :hover, :focus) {
                background-color: var(--color-dark-blue);
                color: var(--color-white);
                border-color: var(--color-white);
            }

        /* FORMS */

        /* EYEBROW */

        /* MARGINS */

        /* MISCELANEOUS */
        --element-border-radius: 2rem;

}

.blocks-container {
    margin: 0 auto;
    -webkit-transform: translate3d(0,0,0);
}

.blocks-container > * {
    max-width: var(--wide-width);
}

.blocks-container > .alignfull {
    max-width: 100%;
    -webkit-transform: translate3d(0,0,0);
}

.home main {
    margin-top: -9rem;
}