:root{
    /* CONFIGURABLE SETTINGS */
        /* COLORS */
        --color-white: #FFFFFF;
        --color-light-grey: #ececec;
        --color-grey: #586877;
        --color-darker-grey: #3e4953;
        --color-black: #000000;
        --color-red: #ef4637;
        --color-darker-red: #a73127;
        --color-yellow: #e19f2f;
        --color-darker-yellow: #9e6f21;

        --link-color: var(--color-yellow);
        --hover-link-color: var(--color-red);

        /* BACKGROUND */
        --grey-color: var(--color-grey);
        --red-color: var(--color-red);
        --yellow-color: var(--color-yellow);

        /* COLOR SCHEMES */
        [data-color-scheme|="grey"] {
            --background-color: var(--grey-color);
            --background-shadow: var(--color-darker-grey);
        }

        [data-color-scheme|="red"] {
            --background-color: var(--red-color);
            --background-shadow: var(--color-darker-red);
        }

        [data-color-scheme|="yellow"] {
            --background-color: var(--yellow-color);
            --background-shadow: var(--color-darker-yellow);
        }

        /* TEXT */
            /* PRIMARY FONT */

            /* SECONDARY FONT */

            /* FONT SIZES */
            h1 { font: var(--font-headline-2); }
            h2 { font: var(--font-headline-3); }
            h3 { font: var(--font-headline-4); }
            h4 { font: var(--font-headline-5); }
            h5 { font: var(--font-headline-6); }
            h6 { font: var(--font-headline-7); }  

            /* LIGHT BACKGROUND COLORS */

            /* DARK BACKGROUND COLORS */

        /* PRIMARY BUTTON */
            /* DEFAULT STYLE */
            :is(.primary-button, .secondary-button, .wp-block-button:not(.is-style-outline) > .wp-element-button) {
                border-radius: calc(var(--element-border-radius) * 2);
            }

            :is(.primary-button, .wp-block-button:not(.is-style-outline) > .wp-element-button) {
                color: var(--color-white);
                background-color: var(--color-grey);
                border-color: var(--color-grey);
                text-align: center;
            }

            :is(.primary-button, .wp-block-button:not(.is-style-outline) > .wp-element-button):is(:active, :hover, :focus) {
                background-color: var(--color-red);
                border-color: var(--color-red);
            }

            /* LIGHT BACKGROUND COLORS */
            :is([data-color-scheme="light"], [data-color-scheme="yellow"]) :is(.primary-button, .wp-block-button:not(.is-style-outline) > .wp-element-button) {
                color: var(--color-white);
                background-color: var(--color-grey);
                border-color: var(--color-grey);
            }

            :is([data-color-scheme="light"], [data-color-scheme="yellow"]) :is(.primary-button, .wp-block-button:not(.is-style-outline) > .wp-element-button):is(:active, :hover, :focus) {
                background-color: var(--color-grey);
                border-color: var(--color-grey);
            }

            /* DARK */
            :is([data-color-scheme="dark"], [data-color-scheme="grey"], [data-color-scheme="red"]) :is(.primary-button, .wp-block-button:not(.is-style-outline) > .wp-element-button) {
                color: var(--color-white);
                background-color: var(--color-grey);
                border-color: transparent;
            }

            :is([data-color-scheme="dark"], [data-color-scheme="grey"], [data-color-scheme="red"]) :is(.primary-button, .wp-block-button:not(.is-style-outline) > .wp-element-button):is(:active, :hover, :focus) {
                background-color: var(--color-red);
                border-color: transparent;
            }

        /* SECONDARY BUTTON */
            /* STYLE */

            /* LIGHT BACKGROUND COLORS */
            :is([data-color-scheme="light"], [data-color-scheme="yellow"]) :is(.secondary-button, .wp-block-button:is(.is-style-outline) > .wp-element-button) {
                color: var(--color-grey);
                border-color: var(--color-grey);
            }

            :is([data-color-scheme="light"], [data-color-scheme="yellow"]) :is(.secondary-button, .wp-block-button:is(.is-style-outline) > .wp-element-button):is(:active, :hover, :focus) {
                background-color: var(--color-grey);
                color: var(--color-white);
                border-color: var(--color-grey);
            }

            /* DARK */
            :is([data-color-scheme="dark"], [data-color-scheme="grey"], [data-color-scheme="red"]) :is(.secondary-button, .wp-block-button:is(.is-style-outline) > .wp-element-button) {
                color: var(--color-white);
                border-color: var(--color-white);
            }

            :is([data-color-scheme="dark"], [data-color-scheme="grey"], [data-color-scheme="red"]) :is(.secondary-button, .wp-block-button:is(.is-style-outline) > .wp-element-button):is(:active, :hover, :focus) {
                background-color: var(--color-grey);
                color: var(--color-white);
                border-color: var(--color-white);
            }

        /* FORMS */

        /* EYEBROW */

        /* MARGINS */

        /* MISCELANEOUS */
        --element-border-radius: 2rem;

}

.blocks-container {
    margin: 0 auto;
    -webkit-transform: translate3d(0,0,0);
}

.blocks-container > * {
    max-width: var(--wide-width);
}

.blocks-container > .alignfull {
    max-width: 100%;
    -webkit-transform: translate3d(0,0,0);
}