.horario-de-onibus .horario-de-onibus-filtros {
    display: flex;
    flex-direction: column;
    gap: var(--item-column-gap);
    justify-content: space-between;
}

.horario-de-onibus .horario-de-onibus-lista {
    margin: var(--item-row-gap) 0;
    padding: 0;
    list-style: none;
    display: grid;
    grid-template-columns: repeat(14, 1fr);
    gap: calc(var(--item-row-gap) / 2);
    text-align: center;
}

.horario-de-onibus .choices {
    margin-bottom: 0px;
}

.horario-de-onibus .choices[data-type*=select-one] {
    width: 100%;
}

.horario-de-onibus .choices[data-type*=select-one] .choices__input {
    box-shadow: none !important;
    font: var(--font-body-small) !important;
    border: none !important;
    padding: 1rem !important;
}

@media (min-width: 768px) {
    .horario-de-onibus .horario-de-onibus-filtros {
        flex-direction: row;
    }
}