.blocks-container > .horario-de-onibus:not(:only-child) {
    margin: 0 auto var(--block-margin);
}

.horario-de-onibus .horario-de-onibus-content-wrapper {
    display: flex;
    flex-direction: column;
    gap: var(--item-row-gap);
}

.horario-de-onibus .horario-de-onibus-filtros {
    display: flex;
    flex-direction: column;
    gap: var(--item-column-gap);
    justify-content: space-between;
}

.horario-de-onibus .horario-de-onibus-linha-info:is([data-linha-cor="laranja"]) {
    background: #F17210;
}

.horario-de-onibus .horario-de-onibus-linha-info:is([data-linha-cor="amarela"]) {
    background: #ffc156;
}

.horario-de-onibus .horario-de-onibus-linha-info:is([data-linha-cor="prata"]) {
    background: #7E7E7E;
}

.horario-de-onibus .horario-de-onibus-linha-info:is([data-linha-cor="vermelha"]) {
    background: #ef5350;
}

.horario-de-onibus .horario-de-onibus-linha-info:is([data-linha-cor="verde"]) {
    background: #107210;
}

.horario-de-onibus .horario-de-onibus-linha-info:is(
    [data-linha-cor="laranja"],
    [data-linha-cor="amarela"],
    [data-linha-cor="prata"],
    [data-linha-cor="vermelha"],
    [data-linha-cor="verde"]
) :is(h4, p, strong) {
    color: var(--color-white);
}

.horario-de-onibus .horario-de-onibus-linha-info:empty {
    display: none;
}

.horario-de-onibus .horario-de-onibus-linha-info {
    background: var(--color-light-grey);
    padding: var(--item-column-gap);
    border-radius: var(--element-border-radius);
}

.horario-de-onibus .horario-de-onibus-linha-info p {
    margin: 0 0 1rem;
}

.horario-de-onibus .horario-de-onibus-linha-info .linha-info-detalhes {
    display: grid;
    grid-template-columns: repeat(3, minmax(0, 1fr));
}

.horario-de-onibus .horario-de-onibus-linha-info .linha-info-detalhes h4 {
    grid-column: 1 / span 3;
}

.horario-de-onibus .horario-de-onibus-lista {
    margin: 0;
    padding: 0;
    list-style: none;
    display: grid;
    grid-template-columns: repeat(14, 1fr);
    gap: calc(var(--item-row-gap) / 2);
    text-align: center;
}

.horario-de-onibus .choices {
    z-index: 10;
    margin-bottom: 0px;
}

.horario-de-onibus .choices:is(.dia-choices) {
   z-index: 9;
}

.horario-de-onibus .choices[data-type*=select-one] {
    width: 100%;
}

.horario-de-onibus .choices[data-type*=select-one] .choices__input {
    box-shadow: none !important;
    font: var(--font-body-small) !important;
    border: none !important;
    padding: 1rem !important;
}

@media (max-width: 767px) {
    .horario-de-onibus .horario-de-onibus-linha-info .linha-info-detalhes {
        display: flex;
        flex-direction: column;
        gap: 0;
    }

    .horario-de-onibus .horario-de-onibus-lista {
        grid-template-columns: repeat(4, minmax(0, 1fr));
    }
}

@media (min-width: 768px) {
    .horario-de-onibus .horario-de-onibus-filtros {
        flex-direction: row;
    }
}