.horario-de-onibus .horario-de-onibus-filtros {
    display: flex;
    column-gap: var(--item-column-gap);
}

.horario-de-onibus .horario-de-onibus-lista {
    margin: var(--item-row-gap) 0;
    padding: 0;
    list-style: none;
    display: grid;
    grid-template-columns: repeat(14, 1fr);
    gap: calc(var(--item-row-gap) / 2);
    text-align: center;
}