.blocks-container .latest-news-urbs {
    max-width: var(--wide-width);
}

.latest-news-urbs {
    width: 100%;
    max-width: 100%;
    margin: 0 auto var(--block-margin) auto;
    display: grid;
    grid-template-columns: minmax(0, 1fr);
    column-gap: var(--column-gap);
    align-items: start;
}

.latest-news-urbs h2 {
    font: var(--font-headline-3);
}

.latest-news-urbs p {
    margin: 0;
}

.latest-news-urbs .news {
    display: grid;
    column-gap: 1rem;
    margin: calc(var(--block-margin) / 2) 0;
}

.latest-news-urbs .news img {
    border-radius: var(--element-border-radius);
}

.latest-news-urbs .news a {
    text-decoration: none;
}

.latest-news-urbs .news-wrapper-featured, .latest-news-urbs .news-wrapper {
    position: relative;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    border-radius: var(--element-border-radius);
    margin-bottom: 1rem;
}

.latest-news-urbs .news-wrapper-featured img, .latest-news-urbs .news-wrapper img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    transition: 0.3s ease all;
}

.latest-news-urbs .news-wrapper-featured img:is(:hover, :active, :focus), .latest-news-urbs .news-wrapper img:is(:hover, :active, :focus) {
    transform: scale(1.1);
    transition: 0.3s ease all;
}

.latest-news-urbs .news-wrapper-featured {
    height: 40rem;
}

.latest-news-urbs .news-wrapper {
    height: 20rem;
}

.latest-news-urbs .news ul {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 2rem;
    padding: 2rem 0;
}

.latest-news-urbs .news li {
    list-style: none;
    margin-bottom: 2rem;
}

.latest-news-urbs .news h3 {
    font: var(--font-headline-8);
    transition: 0.3s all ease;
}

.latest-news-urbs .news h3:is(:active, :hover, :focus) {
    color: var(--color-purple);
}

.latest-news-urbs .news p {
    margin: 0;
}

.latest-news-urbs-header.animate__animated {
    animation-name: fadeInUp;
}

.latest-news-urbs-list.animate__animated {
    animation-name: fadeIn;
}

.latest-news-urbs-list-wrapper {
    display: grid;
    grid-template-columns: minmax(0, 1fr);
    column-gap: var(--column-gap);
    row-gap: calc(var(--row-gap) / 2);
    align-items: start;
    align-self: flex-start;
}

.latest-news-urbs .swiper.news-carousel-list {
    width: 100%;
}

.latest-news-urbs-list {
    width: 100%;
}

.latest-news-urbs-list .swiper-wrapper {
    align-items: center;
    height: auto;
}

.latest-news-urbs-list .swiper-slide {
    width: min(50%, 50rem);
}

.latest-news-urbs-list-item {
    text-align: center;
}

.latest-news-urbs-list-item :is(svg, img) {
    display: block;
    margin: auto;
    height: 50rem;
    object-fit: cover;
}

.latest-news-urbs-pagination,
.latest-news-urbs-navigation {
    margin: 0 auto;
    display: flex;
    justify-content: center;
    align-items: center;
    column-gap: var(--item-column-gap);
    max-width: var(--wide-width);
}

.latest-news-urbs-pagination.animate__animated,
.latest-news-urbs-navigation.animate__animated {
    animation-name: fadeIn;
}

.latest-news-urbs-pagination .swiper-pagination-bullet {
    opacity: 1;
    background-color: var(--link-color);
}

.latest-news-urbs-pagination .swiper-pagination-bullet-active {
    opacity: 1;
    background-color: var(--accent-color);
}

:is(.latest-news-urbs-navigation-prev, .latest-news-urbs-navigation-next) svg {
    width: 4.8rem;
    height: auto;
}

:is(.latest-news-urbs-navigation-prev, .latest-news-urbs-navigation-next) svg * {
    transition: all 0.3s ease;
    stroke: var(--link-color);
}

:is(.latest-news-urbs-navigation-prev, .latest-news-urbs-navigation-next):is(:hover, :focus, :active) svg * {
    transition: all 0.3s ease;
    stroke: var(--hover-link-color);
}

.latest-news-urbs a.primary-button.all-news {
    margin: 0 auto;
    display: flex;
    align-items: center;
    flex-direction: column;
    width: auto;
}

@media (min-width: 768px) {
    .latest-news-urbs .news {
        grid-template-columns: repeat(2, 1fr);
    }

    .latest-news-urbs .news ul {
        padding: 0 0 0 2rem;
    }
}