.announcements-carousel {
	margin: var(--row-gap) auto;
	overflow: hidden;
	position: relative;
}

.announcements-carousel .announcements-carousel-swiper {
	display: flex;
	flex-direction: column-reverse;
	row-gap: var(--item-row-gap);
}

.announcements-carousel-slide {
	position: relative;
	padding: calc(var(--block-margin) + var(--page-padding)) 0;
	height: 100%;
	margin: 0 auto;
	display: flex;
	align-items: center;
	justify-content: center;
}

.announcements-carousel-slide:is(:active, :focus, :hover) img {
	opacity: 0.7;
	transition: 0.3s ease all;
}

.announcements-carousel .announcements-carousel-media {
	position: absolute;
	top: 0;
	left: 0;
	pointer-events: none;
	width: 100%;
	height: 100%;
	overflow: hidden;
	border-radius: var(--element-border-radius);
}

.announcements-carousel :is(.announcements-carousel-image, .announcements-carousel-video-player, .announcements-carousel-video-player iframe) {
	width: 100%;
	height: 100%;
}

.announcements-carousel-image img,
.announcements-carousel-video-player img {
	width: 100%;
	height: 100%;
	object-fit: cover;
	object-position: center;
	transition: 0.3s ease all;
}

.announcements-carousel-video-player iframe {
	display: block;
	border: none;
}

.announcements-carousel .announcements-carousel-video-player iframe {
	width: auto;
	height: auto;
	min-width: 100%;
	min-height: 100%;
	aspect-ratio: 16/9;
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
}

.announcements-carousel .announcements-carousel-image a {
	height: 100%;
	width: 100%;
	position: relative;
	display: flex;
	align-items: center;
	justify-content: center;
	pointer-events: all;
}

.announcements-carousel-navigation {
	display: flex;
	z-index: 2;
	width: 100%;
	justify-content: center;
}

.announcements-carousel-navigation-prev,
.announcements-carousel-navigation-next {
	display: block;
}

:is(.announcements-carousel-navigation-prev, .announcements-carousel-navigation-next) svg {
	width: 4.8rem;
	height: auto;
}

:is(.announcements-carousel-navigation-prev, .announcements-carousel-navigation-next) svg path {
	stroke-width: 0.2rem;
}

:is(.announcements-carousel-navigation-prev, .announcements-carousel-navigation-next) svg * {
	transition: all 0.3s ease;
	stroke: var(--color-white);
}

:is(.announcements-carousel-navigation-prev, .announcements-carousel-navigation-next):is(:hover, :focus) svg * {
	stroke: var(--color-light-grey);
}

:is(.announcements-carousel-navigation-prev, .announcements-carousel-navigation-next):is(:hover, :focus) svg path:first-child {
	stroke: var(--color-white) !important;
}

.announcements-carousel-pagination {
	margin: 0 auto;
	display: flex;
	justify-content: center;
	align-items: center;
	column-gap: var(--item-column-gap);
	max-width: var(--wide-width);
	position: absolute;
	bottom: var(--page-padding);
	left: 50% !important;
	transform: translateX(-50%);
	z-index: 2;
	pointer-events: none;
}

.announcements-carousel-pagination .swiper-pagination-bullet {
	opacity: 1;
	background-color: var(--link-color);
}

.announcements-carousel-pagination .swiper-pagination-bullet-active {
	opacity: 1;
	background-color: var(--accent-color);
}

@media (min-width: 600px) {
	.announcements-carousel-swiper .swiper-slide,
	.announcements-carousel-slide {
		min-height: 20rem;
	}
}

@media (min-width: 992px) {
	.announcements-carousel-swiper .swiper-slide,
	.announcements-carousel-slide {
		min-height: 30rem;
	}
}

@media (min-width: 1200px) {
	.announcements-carousel-swiper .swiper-slide,
	.announcements-carousel-slide {
		min-height: 40rem;
	}
}