.information-carousel {
    margin: var(--row-gap) auto;
    overflow: hidden;
    position: relative;
}

.information-carousel .information-carousel-swiper {
    border-radius: var(--element-border-radius);
}

.information-carousel-swiper .swiper-slide {
    height: auto;
}

.information-carousel-slide {
    position: relative;
    height: 100%;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: center;
}

.information-carousel-slide a {
    text-decoration: none;
}

.information-carousel .information-carousel-media {
    position: relative;
    overflow: hidden;
    height: 100%;
}

.information-carousel :is(.information-carousel-image) {
    width: 100%;
    height: 100%;
    display: grid;
}

.information-carousel-image img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
    grid-row: 1;
    grid-column: 1;
}

.information-carousel-image .information-carousel-image-overlay {
    transition: 0.3s ease all;
    opacity: 1;
    display: grid;
    grid-column: 1;
    grid-row: 1;
    width: 100%;
    height: 100%;
    background: linear-gradient(0deg, rgba(255, 255, 255, 0.7) 0%, rgba(255, 255, 255, 0.5) 100%);
}

.information-carousel-image .information-carousel-image-overlay::before {
    content: '';
    width: 100%;
    height: 100%;
    opacity: 0;
    transition: 0.3s ease all;
    z-index: -1;
}

.information-carousel-image:is(:active, :hover, :focus) .information-carousel-image-overlay::before {
    opacity: 1;
    transition: 0.3s ease all;
    z-index: 2;
}

.information-carousel-content {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    grid-column: 1;
    grid-row: 1;
    text-align: center;
    padding: var(--column-gap) 0;
}

.information-carousel-content :is(h2, h3, p) {
    margin: 0;
}

.information-carousel-content p {
    max-width: 80%;
    margin: 0 auto;
}

.information-carousel-content .information-carousel-title {
    text-transform: uppercase;
    margin-bottom: var(--item-row-gap);
    padding-top: var(--row-gap);
}

.information-carousel-inner-content-wrapper {
    display: grid;
    grid-template-columns: auto;
    row-gap: var(--row-gap);
    max-width: var(--wide-width);
    margin: 0 var(--column-gap) var(--row-gap);
    align-items: center;
}

.information-carousel-inner-content h3 {
    font: var(--font-headline-5);
}

.information-carousel-footer-note {
    background: var(--color-yellow);
    padding: 1rem var(--item-column-gap);
    border-radius: calc( var( --element-border-radius ) / 2);
    margin: var(--row-gap);
}

.information-carousel-footer-note p {
    color: var(--color-black);
    margin: 0;
}

.information-carousel-navigation {
    display: flex;
    align-items: center;
    column-gap: var(--row-gap);
    position: absolute;
    z-index: 10;
    width: 100%;
    height: 100%;
    padding: 0 var(--item-column-gap);
    justify-content: space-between;
}

.information-carousel-navigation-prev,
.information-carousel-navigation-next {
    display: block;
}

:is(.information-carousel-navigation-prev, .information-carousel-navigation-next) svg {
    width: 4.8rem;
    height: auto;
}

:is(.information-carousel-navigation-prev, .information-carousel-navigation-next) svg path {
    stroke-width: 0.2rem;
}

:is(.information-carousel-navigation-prev, .information-carousel-navigation-next) svg * {
    transition: all 0.3s ease;
    stroke: var(--color-white);
}

:is(.information-carousel-navigation-prev, .information-carousel-navigation-next):is(:hover, :focus, :active) svg * {
    stroke: var(--color-light-grey);
}

:is(.information-carousel-navigation-prev, .information-carousel-navigation-next):is(:hover, :focus, :active) svg path:first-child {
    stroke: var(--color-white) !important;
}

.information-carousel .information-carousel-swiper .information-carousel-pagination {
    margin: 0 auto;
    display: flex;
    justify-content: center;
    align-items: center;
    column-gap: var(--item-column-gap);
    max-width: var(--wide-width);
    position: absolute;
    bottom: 4rem;
    left: 50%;
    transform: translateX(-50%);
    z-index: 2;
    pointer-events: none;
}

.information-carousel-pagination .swiper-pagination-bullet {
    opacity: 1;
    background-color: var(--link-color);
}

.information-carousel-pagination .swiper-pagination-bullet-active {
    opacity: 1;
    background-color: var(--accent-color);
}

@media (min-width: 768px) and (max-width: 992px) {
    .information-carousel-wrapper {
        width: var(--wide-width);
        margin: 0px calc(var(--block-margin) * 2);
    }
}

@media (min-width: 768px) {
    .information-carousel-swiper .swiper-slide {
        height: 50rem;
    }

    .information-carousel-content .information-carousel-title { 
        padding-top: 0;
    }

    .information-carousel .information-carousel-media {
        height: auto;
    }

    .information-carousel-content {
        padding: 0;
    }

    .information-carousel-content .information-carousel-inner-content-wrapper {
        grid-template-columns: repeat(auto-fit, minmax(50%, 1fr));
        row-gap: 0;
    }

    .information-carousel-footer-note {
        margin: 0;
    }

    .information-carousel.alignwide .information-carousel-slide {
        padding-left: calc((var(--page-padding)*2) + 4.8rem);
        padding-right: calc((var(--page-padding)*2) + 4.8rem);
    }

    .information-carousel-navigation {
        position: static;
    }

    .information-carousel-navigation-prev,
    .information-carousel-navigation-next {
        position: absolute;
        top: 50%;
        transform: translateY(-50%);
        z-index: 10;
    }

    .information-carousel-navigation-prev {
        left: var(--page-padding);
    }

    .information-carousel-navigation-next {
        right: var(--page-padding);
    }

    .information-carousel-footer-note {
        margin: 0 auto var(--item-row-gap);
    }
}

@media (max-width: 1200px) {
    .information-carousel-slide a {
        width: 100%;
        height: 100%;
    }

    .information-carousel .information-carousel-media {
        height: 100%;
    }

    .information-carousel-content p {
        max-width: 70%;
        margin: 0 auto;
    }
}