.top-bar {
	background: var(--color-yellow);
	padding: 0.5rem 0;
}

.top-bar .top-bar-inner a {
	font: var(--font-body-xsmall);
	text-transform: uppercase;
	color: var(--color-white);
	text-underline-offset: 0.3rem;
	text-decoration-color: transparent;
	transition: 0.3s ease all;
}

.top-bar .top-bar-inner a:is(:active, :hover, :focus) {
	text-decoration-color: var(--color-white);
}

@media (min-width: 768px) {
	.top-bar-inner {
		grid-template-columns: minmax(0, 1fr) 40%;
		max-width: var(--full-width);
	}

	.top-bar-social-media {
		display: flex;
		flex-direction: column;
		align-items: flex-end;
		margin-left: auto;
	}

	.top-bar-social-media ul {
		width: 100%;
		align-items: center;
		display: flex;
		flex-wrap: wrap;
		column-gap: calc(var(--item-column-gap) / 2);
		padding: 0;
	}

	.top-bar-social-media ul li a {
		display: flex;
		align-items: center;
	}

	.top-bar-social-media ul li a :is(svg, img) {
		width: 2rem;
		height: 2rem;
		margin: 0 0.5rem;
	}
}

@media (min-width: 991px) {
	.top-bar-inner {
		max-width: var(--wide-width);
	}
}
